.section-menu > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .lead {
    max-width: 70rem;
    text-align: center;
  }
}

.menus  {
  margin-top: 4rem;
  .container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  &__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    .lead {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  
  .menu__img {
    margin-bottom: 2rem;
    width: 25rem;
  }
}